* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.content {
    background-color: #000;
}
.content h2 {
    font-size: 55px;
    font-weight: 500;
    font-family: R6S-Light;
    color: #FFF;
}
.content p, .footer {
    
    font-weight: 500;
    font-family: nono-light;
    color: #FFF;
}
.title {
    padding-left: 20px;
    padding-bottom: 20px;
}
.item-container{
    background-color: #222;
    text-align: center;
    padding-bottom: 18px;
}
.item{
    margin-top: 20px;
    max-width: 100%;
    display: inline-block;
}
.item img{
    margin-left: 5%;
    width: 90%;
    display: block;
}
.item-text{
    margin-left: 5%;
    width: 90%;
    height: 50px;
    background-color: #FFF;
    padding-top: 10px;

    font-family: R6S-Light;
    font-size: 44px;
    line-height: 0.6;
    font-weight: 400;
}
.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0px;
}
@media only screen and (min-width: 800px){
    /*for desktop*/
    .col-1{width: 33.33%};
}